<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs!</h1>
    <p>I just got back from a pizza party with @Model.Things
    Can you believe we got to eat @Model.Adjective pizza in @Model.Songtitle?!
    Everyone got to choose their own toppings.
    I made '@Model.Celebrity and @Model.Feeling' pizza, which is my favorite!
    They even stuffed the crust with @Model.Verb.
    How @Model.Place!
    If that wasn't good enough already, @Model.Food was there singing @Model.Things2.
    I was so inspired by the music, I had to get up out of my seat and @Model.Person.</p>
  </body>
</html>