<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs prompt 1!</h1>
    <p>I just got back from a pizza party with <strong> @Model.Things </strong> <br>
    Can you believe we got to eat <strong> @Model.Adjective </strong> pizza in <strong>@Model.Songtitle </strong>?!<br>
    Everyone got to choose their own toppings.<br>
    I made ' <strong> @Model.Celebrity </strong> and <strong>@Model.Feeling </strong>' pizza, which is my favorite!<br>
    They even stuffed the crust with <strong> @Model.Verb </strong>.<br>
    How <strong>@Model.Place </strong>!<br>
    If that wasn't good enough already, <strong>@Model.Food </strong> was there singing <strong>@Model.Things2 </strong>.<br>
    I was so inspired by the music, I had to get up out of my seat and <strong>@Model.Person </strong>.</p>
    <br> <a href="/">Return to home</a>
  </body>
</html>