<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLibs prompt 2!</h1>
    <p>Today I went to my favorite Taco Stand called the <strong>@Model.Adjective</strong> <strong>@Model.Foods</strong>.
    Unlike most food stands, they cook and prepare the food in a <strong>@Model.Verb</strong> while you <strong>@Model.Saying</strong>.
    The best thing on the menu is the <strong> @Model.Noun </strong> <strong>@Model.Foods2</strong>.
    Instead of ground beef they fill the taco with <strong>@Model.Color</strong>, cheese, and top it off with a salsa made from <strong>@Model.Ride</strong>.
    If that doesn't make your mouth water, then it's just like a <strong>@Model.Animal</strong> always says: <strong>@Model.Person</strong>! </p>
    <br> <a href="/">Return to home</a>
  </body>
</html>